
<div class="container-fluid fixed-bottom footer-navbar">
    <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
            <div class="navbar fixed-bottom navbar-black navbar-center">
                <ul class="nav navbar-nav navbar-center  ">
                    <li class="navbar-li"><a href="/" style="color: rgb(60, 250, 60)">UzHackers</a></li>
                    <li><a href="programs" class="navbar-li">Programs</a></li>
                    <li><a href="curriculum" class="navbar-li">Curriculum</a></li>
                    <li><a href="international" class="navbar-li">International</a></li> 
                    <li><a href="online" class="navbar-li">Online</a></li> 
                    <li><a href="about" class="navbar-li">About</a></li>
                </ul>
            </div>
        </div>
    <div class="col-sm-3"></div>
    </div>
    <div class="container footer-info">
            <p>Copyright <span class="glyphicon glyphicon-copyright-mark"></span> 
                 Bootcamp Innovations Pvt.Ltd - The UzHackers School - <a href="#" style="color:red">View</a>
            </p>
        </div>    
</div>


<link rel="stylesheet" href="../stylesheets/footer.css">
<!-- <script  ju src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>