<% include ./partials/header %>

<form id="add" action='/form/' method="POST">
<div>
	<label>name</label>
	<input id=1 name="name" placeholder="ener your name">
</div>
<div>
	<label>email</label>
	<input id=2 name="email" placeholder="ener your email">

</div>
<div>
	<label>username</label>
	<input id =3 name="username" placeholder="enter username">
</div>
<div>
	<label>password</label>
	<input id=4 name="password" type="password" placeholder="enter password">
</div>
<div>
	<label>confirm</label>
	<input id=5 name="confirm"  type="password"  placeholder="reener your password">
<div>
	<input type="submit" value="submit">
</div>
	</form>


<% include ./partials/footer %>