<img class="bg-img" src="../images/new.jpg" alt="background-image">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<% include ./partials/header %>
<!-- linking to the css file -->
<link rel="stylesheet" href="/stylesheets/homepage.css">

<!-- background image -->
<!-- <img class="bg-img" src="../images/b4.jpg" alt="background-image"> -->


<!-- hacking school text -->
<div class="container col text-center justify-content-center align-self-center homepage-info">
    <h1 class=" align-middle main-h1 main-text"><strong>UzHackers School</strong></h1>
    <h2 class="align-middle main-h2 main-text"><strong>Uzbekistan first coding bootcamp</strong></h2>
    <button data-ix="fade-in-scroll-4" class="btn main-text apl-btn " ><strong> <a href="form"> Apply Now</a> </strong></button>
</div>

<div class="container-fluid explanation">
        <div class="row stylish-panel">
          <div class="col-sm-4">
            <div>
              <h2 style="color:white"> <strong>ABOUT </strong></h2>
              <p class="bio1">Uzbekistan needs to change the way it trains and skills it's 
                    huge youth population. Uzbekistan needs bootcamps. And The 
                    UzHackers' School is taking Uzbekistan's talent to the next
                    level in the coming a couple of year. 
              </p>
              <a href="#" class="btn btn-primary" title="See more">Full Description »</a>
            </div>
          </div>
          <div class="col-sm-4">
            <div>
              <h2 style="color:white"> <strong>LEARN. CREATE. LAUNCH</strong></h2>
              <p class="bio2">With a global curriculum, the focus is on arming you with 
                    skills that are most in-demand in the industry. This makes 
                    The UzHackers' School a first preference to a lot of international students as well.
              </p>
              <a href="#" class="btn btn-primary" title="See more">Full Description »</a>
            </div>
          </div>
          <div class="col-sm-4">
                <div>
                  <h2 style="color:white"> <strong>HACKER > DEVELOPER</strong></h2>
                  <p class="bio3">We are inspired from the Silicon Valley and 
                        our objective is to bring the much needed hacker 
                        culture, and transform Uzbekistan software training and development industry.
                  </p>
                  <a href="#" class="btn btn-primary" title="See more">Full Description »</a>
                </div>
              </div>
       </div>
    </div>

<!-- coding and growth bootcamp definition -->
<div class="container-fluid main-btm">
    <div class="row stylish-panel1">
      <div class="col-sm-6">
        <div>
          <h2> <strong>CODING BOOTCAMP </strong></h2>
          <p>Art of building products that business and users love. 
              Full stack web and mobile applications development track. 
              Adding to this are IoT, Hardware, AR/VR and industry specific training tracks.
          </p>
          <a href="#" class="btn btn-primary" title="See more">Full Description »</a>
        </div>
      </div>
      <div class="col-sm-6">
        <div>
          <h2> <strong>GROWTH BOOTCAMP</strong></h2>
          <p>Full stack Digital Marketing track that discusses growth mindset, 
              idea demand and validation, product-market-fit, SEO, SEM, SMM, 
              Email, content, Mobile and other growth marketing strategies
          </p>
          <a href="#" class="btn btn-primary" title="See more">Full Description »</a>
        </div>
      </div>
   </div>
</div>
<!-- /container -->

<!-- programs definition in three gorup -->
<div class="container main-programs">
    <div class="col-sm-3 border program1 ">
        <h3>FULL-STACK WEB DEVELOPMENT</h3>
    </div>
    <div class="col-sm-3 border program2">
        <h3>FULL-STACK DEIGITAL MARKETING</h3>
    </div>
    <div class="col-sm-3 border program3">
        <h3>MOBILE DEVELOPMENT</h3>
    </div>
    <div class="col-sm-3 border program4">
        <h3>BLOCKCHAIN BOOTCAMP</h3>
      
    </div>
</div>

<!-- coding circle in two divs -->
<div class="container-fluid main-process">
    <!-- navigation botton at the top -->
    <div class="container col text-center  view-btn">
        <button class="btn btn-primary view-btn">VIEW ALL PROGRAMS</button>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="col-sm-6">
                 <!-- this is left -->
            </div>
            <div class="col-sm-6 main-progress">
                <h3> <strong>UZBEKISTAN NEEDS BOOTCAMPS. <br> WE ARE THE ANSWERS.</strong></h3>
                <p>To scale the next leg of growth, India needs to move away from 
                    the traditional style of skill development. The Hacking School 
                    uses bootcamp styled programs with in-demand curriculum to produce
                     highly skilled and employable talent.
                </p>
                 <button class="btn btn-primary"> APPLY NOW</button>
            </div>
        </div>
        <!-- right side from here -->
        <div class="col-sm-6 main-progress">
            <div class="col-sm-6">
                <div class="step step-active">
                    <div>
                        <div class="circle">1</div>
                     </div>
                    <div>
                        <div class="title">Building Products, Not Just Code.</div>
                        <div class="caption">We are not just alla bout code. We are
                            bout product decelopment
                        </div>
                    </div>
                </div>
                <div class="step step-active">
                    <div>
                        <div class="circle">2</div>
                    </div>
                    <div>
                        <div class="title">What Industry Wants</div>
                         <div class="caption">
                             Our graduates are "Most Wanted" in the Industry. We work on what 
                             industry demands and needs.
                        </div>
                    </div>
                </div>
                <div class="step step-active">
                    <div>
                        <div class="circle">3</div>
                    </div>
                    <div>
                        <div class="title">Employment and Enterpreneurship</div>
                        <div class="caption">
                            Our graduates don't just find great product developer roles 
                            in less than 30 days of graduating, but also become awesome entrepreneurs!
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                
            </div>
       </div>
    </div>
</div>

<!-- logo decoration in the middle -->
<div class="container log-">
    <img class="log-image" src="../images/logo.png" alt="">
</div>

<!-- blue hashtag study now play later -->
<div class="container-fluid main-btm-title">
    <div class="col-sm-6 main-pay">
        <p style="font-size:16px;">CHECKOUT OUR HASSLE FREE FINANCIAL FACILITY</p>
        <h1>STUDY NOW PAY LATER</h1>
    </div>
    <div class="col-sm-6 main-pay">
        <button class="btn btn-primary" style="background-color:rgb(74, 161, 238)">
            <strong>Apply Now</strong>
        </button>
    </div>
</div>


<!-- application form in footer -->
<div class="container-fluid text-center footer-appl">
    <div class="col-sm-2">
        <!-- left side -->
    </div>
    <!-- application section -->
    <div class="col-sm-8">

        <div class="col-sm-4 main-apl1">
            <div>
              <p class="footer-p">QUESTIONS? ASK!</p>
              <p class="footer-adress">WHATSAPP ON<br> +821092050117</p>
            </div>
            <form action="#">
                    <div class="form-group">
                        <label for="name">Full name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter your name">
                    </div>
                    <div class="form-group">
                      <label for="email">Email address:</label>
                      <input type="email" class="form-control" id="email" placeholder="example@gmail.com"> 
                    </div>
                    <div class="form-group">
                      <label for="number">Phone number:</label>
                      <input type="number" class="form-control" id="number" placeholder="phone bumber">
                    </div>
                    <div class="form-group">
                        <label for="field" >Program</label>
                        <input type="text" readonly class="form-control-plaintext" id="program" placeholder="Full-stack web developer">
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea name="message" id="msg" cols="25" rows="2" placeholder="Type your message"></textarea>    
                    </div>
 <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-sm-8 main-apl2">
            <div class="plan">
                <p>Planning to change your life?</p>
                <p style="color:#b8b6b6; font-size:22px">Don't hasitate. We're here to suppot you.</p> <br>
            </div>
            <div class="col-md-6 footer-border fb1">
                <p class="footer-p">TALK TO US</p>
                <p class="footer-adress">If you have any questions or need extra info. Contact us!</p>
                <p class="footer-p">CALL US</p>
                <p class="footer-adress">Feel free to call us on <br> 
                    <a href="#">+99894 614 1226(UZB)</a>
                         <br><a href="#"> +8210 9205 0117(KR) </a>
                         <br><a href="#"> +91 9100 469117(IN) </a> 
                </p>
                <p class="footer-p">MAIL US</p>
                <p class="footer-adress">Feel free to mail us on
                    <a href="mailto:mukhtorov_1994@mail.ru">mukhtorov_1994@mail.ru</a>
                </p>
            </div>
            <div class="col-md-6 footer-border" style="padding-bottom: 29px">
                <p class="footer-p">HEAD QUARTERS</p>
                <p class="footer-adress">Trillion, 4th Floor, Fortune Towers, Near Wells Fargo, Raidurgam, Hyderabad</p>
                <p class="footer-p">BRANCHE</p>
                <p class="footer-adress">Seoul, Tashkent, Namangan</p>
                <p footer-p>MONDAY - FRIDAY</p>
                <p class="footer-adress">09:00 - 21:00</p>
                <p class="footer-p">SUNDAY</p>
                <p class="footer-adress">10:00 - 17:00</p>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <!-- this is right side -->
    </div>
</div>


<% include ./partials/footer %>